SaleProject/build/
SaleProject/dist/
SaleProject/nbproject/
SaleProject_IdentityService/build/
SaleProject_IdentityService/dist/
SaleProject_IdentityService/nbproject/
SaleProject_WebService/build/
SaleProject_WebService/dist/
SaleProject_WebService/nbproject/
SaleProject_ChatService/build/
SaleProject_ChatService/dist/
SaleProject_ChatService/nbproject/